*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.header{
  height: 800px;
  background-image: url('../images/banner/banner2.png');
}
.banner-container{
  text-align: end;
  padding-top: 216px;
  padding-right: 230px;
}
.banner-title{
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 24px;
}
.banner-description{
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
.banner-btn{
  width: 160px;
  height: 64px;
  border: none;
  background: #F15B22;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
  border-radius: 5px;
}
/* failure year style */
.section-container{
  margin-top: 130px;
}
.previous-year-container{
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-left: 200px;
}
.failures-items{
  margin-left: 90px;
}
.failures-title{
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}
.failures-description{
  font-weight: 400;
  font-size: 18px;
  color: #444343;
  margin-bottom: 16px;
}
.fa-solid,.fa-check{
  color: #16D887;
}

/* My plan styles */
.my-plan-title{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 130px;
  margin-bottom: 50px;
}
.plan-items{
  display: flex;
  gap: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.plan-sub-title{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
}
.plan-description{
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}

/* Watch banner style */
.watch-banner-container{
  height: 300px;
  background-image: url('../images/gradient2.png'),url('../images/watch.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 124px;
  text-align: center;
  margin-bottom: 100px;
}
.banner-items{
  text-align: start;
  margin-left: 280px;
  padding-top: 60px;
}
.title{
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}
.call-btn{
  width: 160px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: #F15B22;
  margin-top: 24px;
}

/* footer style */
.footer-container{
  height: 577px;
  background: black;
}
.footer-items{
  display: flex;
  justify-content: space-around;  
  color: #FFFFFF;
  padding-top: 130px;
}
.footer-title-1{
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 16px;
}
.footer-description-1{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
}
.footer-description-2{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}
.footer-description-3{
  font-weight: 400;
  font-size: 16px;
}
.footer-title-2{
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 30px;
}
.input-field{
  width: 325px;
  height: 64px;
  font-weight: 400;
  font-size: 18px;
  background: black;
  border: 1px solid white;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 16px;
}
.footer-btn{
  width: 170.11px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  color: #F15B22;
  border-radius: 5px;
}
.icons{
  padding: 10px;
  margin-top: 30px;
}